QMenuBar {
    background-color: #fff;
    color: #0b0b0b;
    min-height: 14px;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

QMenuBar::item:selected {
    background-color: #fafafa;
    color: grey;
}
